1Password
autostart
BraveSoftware
chromium
dconf
discord
Electron
gh
google-chrome
google-chrome-beta
google-chrome-unstable
gtk-3.0
JetBrains
jgit
microsoft-edge-dev
mimeapps.list
neofetch
pavucontrol.ini
pulse
systemd
vivaldi
vivaldi-snapshot

